<div class="profile">
  <div style="display: inline-block;">
    <h4>
      My Projects
    </h4>
  </div>
  <div class="modal-tooltip" data-toggle="modal" data-target="#project-explanation-modal" style="display: inline-block;">
    What the heck is a project?
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>
          Title
        </th>
        <th>
          Compositions
        </th>
        <th>
        </th>
      </tr>
    </thead>
    <tbody>
      <% current_user.projects.each do |project| %>
        <tr>
          <td>
            <%= project.title %>
          </td>
          <td>
            <%= project.compositions_count %>
          </td>
          <td>
            <%= link_to "view", account_writer_project_path(project) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to "Create a new project", new_account_writer_project_path %>
  </div>
  <div id="project-explanation-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">What the heck is a project?</h4>
      </div>
      <div class="modal-body">
        A project is a collection of compositions - stories, fragments, chapters, thoughts - that can each be read as standalone pieces or as part of an entire project. Start a project and begin publishing compositions to see who is enjoying reading it. Then we can help you form a plan to keep releasing pieces of your project to the public eye!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
