<div class="container compositions-container">
  <h2>
    Some Light Reading For You
  </h2>
  <div class="row page-content">
    <div class="col-sm-3">
      Filters
    </div>
    <div class="col-sm-8">
      <% @compositions.each_slice(2) do |comps| %>
        <div class="row compositions-row">
          <% comps.each_with_index() do |composition, i| %>
            <% if i == 1 %>
              <div class="col-sm-1"></div>
            <% end %>
            <div class="col-sm-6 composition-col">
              <div class="row">
                <div class="col-sm-11">
                  <div class="composition">
                    <h4>
                      <%= link_to composition.get_title_or_default, project_composition_path(composition.project, composition) %>
                    </h4>
                    <div class="author">
                      By <%= link_to composition.user.username, author_path(composition.user) %>
                    </div>
                    <div class="content">
                      <%= sanitize cut_off_at(composition.content, 194) %>
                      <%= link_to "Read more", project_composition_path(composition.project, composition) %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
