<div class="container homepage-container">
  <div class="row hook-box">
    <div class="col-sm-4 hook">
      <h2>
        Start Reading
      </h2>
      <i class="fa fa-glasses icon"></i>
      Read other people's work. Peruse excerpts, or entire manuscripts!
    </div>
    <div class="col-sm-4 hook">
      <h2>
        Get Writing
      </h2>
      <i class="fa fa-edit icon"></i>
      Publish a short, a segment of a story, or just an excerpt! Don't get hung up on writersbloc.
    </div>
    <div class="col-sm-4 hook">
      <h2>
        See Feedback
      </h2>
      <i class="fa fa-comment icon"></i>
      Get fast feedback on what really matters, does your work make people want to keep reading?
    </div>
  </div>
  <div class="call-to-action-buttons">
    <% if current_user %>
      <div style="height:78px"></div>
    <% else %>
      <%= link_to "I'm ready to start writing - sign me up!", new_user_registration_path, class: "btn btn-primary" %>
      <%= link_to "I'm just here to read", compositions_path, class: "btn btn-primary" %>
    <% end %>
  </div>
  <div class="note-from-creator">
    <h3>
      A note from the creator
    </h3>
    <p>
      Creative writing is an incredibly daunting task. Whether in the form of a short-story, a novel, or even just drafting an email, facing a blank sheet of paper can be one of the most difficult and formidable challenges we confront with our minds. Writersbloc is a place to encourage you to face that challenge by publishing mini-series, or larger works in small segments.
    </p>
    <p>
      This is a space to choose excerpts of your work to 'publish' - let the public see, and then get feedback from readers on whether they want to keep reading. If your story gets positive reviews (a lot of 'woud keep reading' votes), we will set you a deadline for when to publish your next segment, or next short in a project, and the feedback cycle can continue! Otherwise, get some suggested edits, edit your passage, and it will be requeued in our list of reading material.

      <p>--Adam</p>
    </p>
  </div>
</div>
