<div class="profile">
  <h4>
    My Archive
  </h4>
  <div>
    Archived work to read later will go here...
  </div>
  <h4>
    My votes
  </h4>
  <div>
    Stuff that I have indicated I would keep reading will go here...
  </div>
</div>
