<table class="table table-striped">
  <thead>
    <tr>
      <th>
        Title
      </th>
      <th>
        Description
      </th>
      <th>
        Published?
      </th>
      <th>
      </th>
    </tr>
  </thead>
  <tbody>
    <% compositions.each do |composition| %>
      <tr>
        <td>
          <%= composition.title %>
        </td>
        <td>
          <%= composition.description %>
        </td>
        <td>
          <%= composition.published? ? "Yes" : "No" %>
        <td>
          <%= link_to "view", project_composition_path(@project, composition) %>
        </td>
      </tr>
    </tbody>
  <% end %>
</table>
