<div class="container">
  <h2>
    New Composition
  </h2>
  <%= link_to account_writer_project_path(@project) do %>
    <i class="fa fa-caret-left"></i> back
  <% end %>
  <%= render partial: "form" %>
</div>
